<p>
    <h2>Instructies</h2>
</p>
<p class="center"><img src="https://i.imgur.com/jJJ2gmq.png" alt="Utrecht Universiteit logo" /></p>
<p>
<blockquote>
	In dit experiment krijg je korte scenario's te lezen. We willen je vragen om je zoveel mogelijk in te leven in de scenario's. Na elk scenario krijg je een keuze tussen twee opties. 
	Kies telkens de optie die jij zou kiezen als je jezelf in de betreffende situatie bevond.
    <br>
	Er zijn geen goede of foute antwoorden; gebruik gewoon je intuitie op basis van de gegeven details.
</blockquote>
<blockquote>
	Je zult in totaal twaalf scenario's te zien krijgen. Er is geen tijdslimiet, dus je kunt op je eigen tempo antwoorden.
</blockquote>
<p>