<p>
    <h2>Instructies</h2>
</p>
<p class="center"><img src="https://i.imgur.com/jJJ2gmq.png" alt="Utrecht Universiteit logo" /></p>
<p>
<blockquote>
	In dit experiment krijg je korte scenario's te lezen, waarin mensen voor een keuze staan tussen twee opties.
	Jij mag de betreffende persoon telkens een optie aanraden.
	Let op: beeld je dus in dat jij niet degene bent die de keuze moet maken, maar een toeschouwer die slechts raad geeft.
    <br>
	Er zijn geen goede of foute antwoorden; gebruik gewoon je intuitie op basis van de gegeven details.
</blockquote>
<blockquote>
	Je zult in totaal twaalf scenario's te zien krijgen. Er is geen tijdslimiet, dus je kunt op je eigen tempo antwoorden.
</blockquote>
<p>