@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    color: #1e272e;
    background-color: white;
    margin-left: 0;
    margin-top: 5em;
}
.center {
    text-align: center;
    vertical-align: middle;
}
table {
    max-width: 60em;
}
.lindent { margin-left: 5em; }
.sending-results {
    font-weight: bold;
    font-size: medium;
}
div.bar-container {
    border: 1px solid;
    border-color: #9ea4b1;
    background-color: white;
}
div.bar {
    background-color: #f1c40f;
}
p.progress-text {
    padding-top: 0.5em;
    margin-top: 0;
    margin-bottom: 2em;
    font-style: italic;
    font-size: small;
}
p.practice-box {
    color: #3498db;
    height: 1.5em;
    font-size: 1.2em;
    padding-bottom: 1em;
    text-align: center;
}
span.retry {
    color: #3498db;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}
span.retry:hover {
    text-decoration: underline;
}
span.retry:visited {
    color: blue;
}