.Question {
    margin-left: 0;
    padding-left: 0;
}
.instructions-text {
    font-style: italic;
    clear: left;
    font-size: 1.2em;
    padding-top: 1em;
}
li.normal-answer {
    text-align: left;
    cursor: pointer;
    padding-bottom: 1em;
}
li:hover.normal-answer {
    cursor: pointer;
}
li.scale-box {
    float: left;
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    margin-right: 1em;
    padding-right: 0;
    border: 1px #9ea4b1 solid;
    width: 2em;
    height: 2em;
    padding-top: 0.5em;
    text-align: center;
}
.scale-comment-box {
    float: left;
    list-style: none;
    margin-left: 0em;
    padding-left: 0;
    margin-right: 1em;
    padding-right: 0;
    padding-top: 0.5em;
    text-align: center;
    font-style: italic;
}
li.scale-box a {
    text-decoration: none;
    display: block;
    vertical-align: middle;
}
li.scale-box a:hover {
    text-decoration: none;
    display: block;
    vertical-align: middle;
}
span.fake-link {
    color: #3498db;
    cursor: pointer;
}
span:hover.fake-link {
    cursor: pointer;
}

